:root {
  font-size: 10px;

  /* Colors */
  --scarlet: #eb3705;
  --scarlet: #e38445;
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  /* Fonts */
  --f-saira: "Saira Stencil One", cursive;
  --f-barlow: "Barlow", sans-serif;
  --f-dm: "DM Sans", sans-serif;
  --f-roman: "Gideon Roman", cursive;

  /* Font Size */
  --fs-1: 3rem;
  --fs-2: calc(2.513rem + 1vw);
  --fs-3: calc(2.113rem + 1vw);
  --fs-4: 1.8rem;
  --fs-5: 1.6rem;
  --fs-6: 1.4rem;
  --fs-7: 1.2rem;

  /* Transition */
  --transition-1: 0.25s ease-in-out;
}

body.light_theme {
  --bg-primary: hsl(0, 0%, 90%);
  --bg-secondary: hsl(0, 0%, 100%);
  --color-primary: hsl(0, 0%, 12%);
  --color-secondary: hsl(0, 0%, 37%);
  --card-shadow: hsla(0, 0%, 0%, 0.1);
  --input-bg: hsl(0, 0%, 93%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

body.dark_theme {
  --bg-primary: hsl(0, 0%, 12%);
  --bg-secondary: hsl(0, 0%, 19%);
  --color-primary: hsl(0, 0%, 100%);
  --color-secondary: hsl(0, 0%, 62%);
  --card-shadow: hsla(0, 0%, 0%, 0.4);
  --input-bg: hsl(0, 0%, 16%);
  --shadow-1: 10px 10px 40px var(--card-shadow);
}

@media (prefers-color-scheme: dark) {
  body {
    --bg-primary: hsl(0, 0%, 12%);
    --bg-secondary: hsl(0, 0%, 19%);
    --color-primary: hsl(0, 0%, 100%);
    --color-secondary: hsl(0, 0%, 62%);
    --card-shadow: hsla(0, 0%, 0%, 0.4);
    --input-bg: hsl(0, 0%, 16%);
    --shadow-1: 10px 10px 40px var(--card-shadow);
  }
}

/* [text-split] {
  opacity: 0;
  visibility: hidden;
}

.gsap-ready [text-split] {
  opacity: 1;
  visibility: visible;
} */

.word {
	overflow: hidden;
  padding-bottom: 0.1em;
  margin-bottom: -0.1em;
  transform-origin: bottom;
}

/*=========================
                                                            ===Scrollbar & Selection===
                                                            =========================*/
*::selection {
  background-color: var(--color-primary);
  color: var(--bg-primary);
}

body::-webkit-scrollbar {
  width: 1.3em;
}

body::-webkit-scrollbar-track {
  background-color: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--scarlet);
  border: 4px solid var(--bg-secondary);
  border-radius: 8px;
}

body {
  position: relative;
  background-color: var(--bg-primary);
  transition: background-color var(--transition-1);
  overflow-x: hidden;
}

main {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
}

#web-starter {
  position: absolute;
  width: 100%;
  background-color: var(--color-primary);
  z-index: 99999;
  height: 100vh;
  overflow: hidden;
}

#web-starter > h1 {
  position: absolute;
  right: 10vw;
  font-size: 7vw;
  color: var(--bg-secondary);
  font-weight: 900;
  font-family: var(--f-roman);
  overflow: hidden;
  display: none;
}

#web-starter > .main-text {
  color: var(--bg-secondary);
  position: absolute;
  top: 5rem;
  left: 5rem;
  font-size: 5vw;
  font-weight: 900;
  font-family: var(--f-roman);
}

#web-starter > #num-1 {
  bottom: 10%;
}

#web-starter > #num-2 {
  bottom: 35%;
}

#web-starter > #num-3 {
  bottom: 60%;
}

#web-starter > #num-4 {
  bottom: 85%;
}

/*====================
                                                            ===Global Variables===
                                                            ====================*/
.sec-container {
  padding-top: 10rem;
  max-width: 90%;
  margin: 0 auto;
}

/*Section Utility classes*/
.sec-top {
  position: relative;
}

.sec-heading {
  color: var(--color-primary);
  font-size: var(--fs-3);
  font-family: var(--f-dm);
  font-weight: 900;
  line-height: 1em;
}

.sec-title {
  position: absolute;
  top: -3ch;
  left: 0;
  font-size: var(--fs-5);
  font-family: var(--f-dm);
  color: var(--color-secondary);
  text-transform: uppercase;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sec-title::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  display: block;
  width: 80%;
  height: 2px;
  background-color: var(--color-secondary);
}

.sec-line {
  width: 4rem;
  height: 2px;
  background-color: var(--color-secondary);
}

.sec-para {
  color: var(--color-secondary);
  font-size: 1.8rem;
  font-family: var(--f-barlow);
  margin-top: 2rem;
  line-height: 1.3;
}

/*======Global Button======*/
.g-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 4.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  background-size: 400%;
  color: #fff;
  border: 2px solid var(--scarlet);
  background-color: transparent;
}

.g-btn:active::before {
  transform: scaleX(1);
}

.g-btn-content {
  position: relative;
  z-index: 1;
  font-size: var(--fs-4);
  font-family: var(--f-dm);
  font-weight: 500;
  color: var(--scarlet);
  transition: color var(--transition-1);
}

.g-btn:active .g-btn-content {
  color: white;
}

.g-btn::before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background-color: var(--scarlet);
  transition: all 0.475s;
}

/*======Header======*/
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-block: 1rem;
  transition: background-color var(--transition-1),
    box-shadow var(--transition-1), padding-block var(--transition-1);
  z-index: 999;
}

header.header-shadow {
  padding-block: 0;
  background-color: var(--bg-secondary);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*===Logo===*/
.logo {
  font-family: var(--f-saira);
  font-size: var(--fs-3);
  color: var(--color-primary);
  transition: color var(--transition-1);
}

.logo-dot {
  color: var(--scarlet);
  transition: color var(--transition-1);
}

/*=======Navbar=======*/
#navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.7rem;
}

.nav-list {
  position: absolute;
  top: 140%;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-secondary);
  padding: 2.5rem 4rem 2.5rem 7rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  scale: 0;
  transition: scale var(--transition-1);
}

.nav-list.nav-active {
  scale: 1;
}

.nav-anchor {
  position: relative;
  color: var(--color-primary);
  font-size: var(--fs-5);
  font-family: var(--f-barlow);
  font-weight: 600;
  transition: color var(--transition-1);
  letter-spacing: 0.15rem;
}

.nav-anchor::before {
  content: "";
  position: absolute;
  left: -4.5rem;
  top: 50%;
  width: 4rem;
  height: 2px;
  background-color: var(--scarlet);
  transition: width var(--transition-1);
}

.nav-anchor:hover::before,
.nav-anchor:active::before {
  width: calc(4rem + 100%);
}

/*=======Header buttons=======*/
.nav-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/*=====Theme Toggle=====*/
.switch {
  font-size: 1rem;
  display: block;
  --width-of-switch: 4.3em;
  --height-of-switch: 2.5em;
  /* size of sliding icon -- sun and moon */
  --size-of-icon: 1.9em;
  /* it is like a inline-padding of switch */
  --slider-offset: 0.3em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-secondary);
  transition: 0.4s;
  border-radius: 30px;
}

.slider-shadow {
  background-color: var(--bg-primary) !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.4em);
  width: var(--size-of-icon, 1.4em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--bg-secondary);
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
  background: #303136;
  box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/*========Hamburger========*/
.hamburger {
  background-color: transparent;
  width: 2.4rem;
  height: 2.4rem;
  border: none;
  transform: rotate(-45deg);
}

.hamburger .one,
.hamburger .two,
.hamburger .three {
  display: block;
  height: 0.2rem;
  background-color: var(--color-primary);
  transition: background-color var(--transition-1);
}

.hamburger .one,
.hamburger .three {
  width: 1.2rem;
  transition: var(--transition-1);
}

.hamburger .one {
  margin-left: auto;
  transform-origin: left;
}

.hamburger .one.one-active {
  transform: rotate(90deg) translateX(-3px);
}

.hamburger .two {
  margin-block: 0.7rem;
  width: 2.4rem;
}

.hamburger .three {
  transform-origin: right;
}

.hamburger .three.three-active {
  transform: rotate(90deg) translateX(3px);
}

                                                                    /*========
                                                                    ===Home===
                                                                    ========*/

#home {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
  padding-block: 8rem;
}

.home-img {
  overflow: hidden;
  border: 0.2rem solid var(--scarlet);
  border: 0.3rem solid #eb3705;
  border: 0.3rem solid var(--scarlet);
  border-radius: 30% 70% 57% 43% / 30% 30% 70% 70%;
  animation: morphing 20s linear infinite;
  max-width: 75%;
  margin: 0 auto;
}

@keyframes morphing {
  0% {
    border-radius: 30% 70% 57% 43% / 30% 30% 70% 70%;
  }
  15% {
    border-radius: 78% 22% 25% 75% / 52% 44% 56% 48%;
  }
  30% {
    border-radius: 40% 60% 37% 63% / 52% 44% 56% 48%;
  }
  45% {
    border-radius: 40% 60% 71% 29% / 52% 67% 33% 48%;
  }
  60% {
    border-radius: 67% 33% 57% 43% / 52% 30% 70% 48%;
  }
  75% {
    border-radius: 27% 73% 21% 79% / 73% 30% 70% 27%;
  }
  100% {
    border-radius: 38% 62% 23% 77% / 29% 30% 70% 71%;
  }
}

.home-img img {
  width: 100%;
  height: 100%;
  transform: scale(1.05);
}

/*===Home Left===*/
.home-left {
  text-align: center;
}

.red {
  color: var(--scarlet);
}

.home-left .greet {
  color: var(--color-primary);
  font-size: var(--fs-4);
  font-family: var(--f-dm);
  margin-bottom: 1rem;
}

.home-left .intro {
  font-size: var(--fs-1);
  color: var(--color-primary);
  font-family: var(--f-dm);
  font-weight: 700;
}

.type-writer-text {
  font-size: var(--fs-2);
  display: inline-block;
  position: relative;
  color: var(--scarlet);
}

.type-writer-text::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  margin-left: 2px;
  background-color: var(--scarlet);
  animation: blink 0.8s ease-in-out infinite;
}

@keyframes blink {
  0%,
  100% {
    background-color: var(--scarlet);
  }
  40%,
  50% {
    background-color: transparent;
  }
}

/*===Home Social Icons===*/
.home-social {
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.home-social .line {
  display: block;
  width: 3rem;
  background-color: var(--color-secondary);
  height: 1.5px;
}

.home-social a {
  position: relative;
  font-size: 2rem;
  color: var(--color-secondary);
  transition: color var(--transition-1);
}

.home-social a:hover,
.home-social a:active {
  color: var(--scarlet);
}

.home-social a:nth-child(2) {
  position: relative;
  top: 2px;
}

.home-social a:nth-child(2)::after {
  content: "Upwork";
  position: absolute;
  right: -400%;
  top: 0;
  font-size: var(--fs-7);
  font-family: var(--f-dm);
  color: var(--white);
  background-color: var(--scarlet);
  border-radius: 2px;
  padding: 0.4rem 0.4rem;
  opacity: 0%;
  transition: right var(--transition-1), opacity var(--transition-1);
}

.home-social a:nth-child(3)::after {
  content: "Linkedin";
  position: absolute;
  right: -400%;
  top: 0;
  font-size: var(--fs-7);
  font-family: var(--f-dm);
  color: var(--white);
  background-color: var(--scarlet);
  border-radius: 2px;
  padding: 0.4rem 0.4rem;
  opacity: 0%;
  transition: right var(--transition-1), opacity var(--transition-1);
}

.home-social a:nth-child(4)::after {
  content: "Github";
  position: absolute;
  right: -400%;
  top: 0;
  font-size: var(--fs-7);
  font-family: var(--f-dm);
  color: var(--white);
  background-color: var(--scarlet);
  border-radius: 2px;
  padding: 0.4rem 0.4rem;
  opacity: 0%;
  transition: right var(--transition-1), opacity var(--transition-1);
}

/*===Scroll Button===*/
.scroll {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.7rem;
  right: 4rem;
  bottom: 7vh;
  display: none;
}

.scroll-name {
  font-size: var(--fs-5);
  font-family: var(--f-dm);
  color: var(--color-secondary);
  font-weight: 600;
  text-transform: uppercase;
  transform: rotate(90deg);
  letter-spacing: 2px;
}

.scroll-line {
  display: block;
  width: 2px;
  height: 4rem;
  background-color: var(--color-secondary);
}

/*=========
                                                            ===Specs===
                                                            =========*/

#specs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.specs-item {
  background-color: var(--bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 1rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 7px 29px 0px;
  flex: 1 1 250px;
}

.spec-img {
  background-color: var(--scarlet);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  padding: 0.7rem;
}

.spec-img img {
  width: 100%;
  height: 100%;
  filter: invert(100%);
  object-fit: contain;
}

.specs-item .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.specs-item .info h1 {
  color: var(--color-primary);
  font-family: var(--f-dm);
  font-weight: 900;
  font-size: var(--fs-1);
  text-align: center;
}

.specs-item .info h5 {
  color: var(--color-secondary);
  font-family: var(--f-barlow);
  font-size: var(--fs-5);
  text-align: center;
}

/*=========
                                                            ===About===
                                                            =========*/

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.about-left {
  position: relative;
  width: 100%;
}

.about-img {
  position: relative;
  margin-inline: auto;
  padding: 3rem;
}

.about-img img {
  width: 100%;
  height: 100%;
}

.blob {
  position: absolute;
  top: 0;
  left: -5%;
  z-index: -1;
  width: 100%;
  height: 100%;
  scale: 1.3;
  animation: movingBlob 5s infinite linear;
}

@keyframes movingBlob {
  0% {
    transform: translateY(0%);
  }
  15% {
    transform: translateY(-1%);
  }
  75% {
    transform: translateY(3%);
  }
  100% {
    transform: translateY(0%);
  }
}

.about-right {
  position: relative;
}

.about-buttons {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.hire {
  display: grid;
  place-items: center;
  font-size: var(--fs-4);
  font-family: var(--f-dm);
  font-weight: 500;
  height: 4.5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  background-size: 400%;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--scarlet);
  transition: box-shadow var(--transition-1), transform var(--transition-1);
}

.hire:hover {
  transform: translateY(-2px);
  box-shadow: 0px 25px 30px -12px var(--scarlet);
}

/*==========
                                                            ===Skills===
                                                            ==========*/

#skills {
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.skills-left {
  position: relative;
}

.skills-buttons {
  position: relative;
  display: flex;
  margin-top: 3rem;
  max-width: fit-content;
  margin-inline: auto;
  background-color: var(--bg-secondary);
  border-radius: 5rem;
}

.skill-tab {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--scarlet);
  border: 5px solid var(--bg-secondary);
  height: 100%;
  width: 50%;
  border-radius: 5rem;
  transition: transform var(--transition-1);
}

.skills-buttons button {
  border: none;
  background-color: transparent;
  padding: 1em 2em;
  font-size: var(--fs-5);
  font-family: var(--f-barlow);
  font-weight: 700;
  transition: color var(--transition-1);
}

.btn-content {
  position: relative;
  z-index: 10;
}

.skill-btn {
  color: white;
}

.dark_theme
  > main
  > #skills
  > .skills-left
  > .skills-buttons
  > button
  > .btn-content {
  color: var(
    --white
  ); /*This keep color of both buttons text in dark mode on base of specificity*/
}

.skills-right .skills,
.skills-right .tools {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  transition: all var(--transition-1);
}

.skills-right .tools {
  display: none;
}

.skill-items {
  position: relative;
  background-color: var(--bg-secondary);
  border-radius: 1rem;
  padding: 1.5rem;
  width: 8.5rem;
  height: 8.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
  cursor: help;
  transition: all var(--transition-1);
}

.skill-items img {
  width: 100%;
  height: 100%;
}

.skill-items .item-name {
  position: absolute;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  font-size: var(--fs-5);
  font-weight: 500;
  font-family: var(--f-dm);
  color: var(--white);
  background-color: var(--scarlet);
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  opacity: 0%;
  transition: top var(--transition-1), opacity var(--transition-1);
}

.skill-items:hover .item-name {
  top: -4rem;
  opacity: 100%;
}

/*========
                                                                    ===Work===
                                                                    ========*/

.project-intro {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  margin-bottom: 10rem;
}

.project-intro-left {
  max-width: 80%;
  margin: 0 auto;
}

.intro-img {
  border-radius: 1rem;
  overflow: hidden;
}

.intro-img img {
  width: 100%;
  height: 100%;
}

.project-intro-right {
  position: relative;
}

.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 7rem;
}

.project-item:nth-child(3) ~ .project-item {
  display: none;
}

.project-item .project-img {
  position: relative;
  transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(10deg);
  transition: transform 0.6s ease;
  cursor: pointer;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: var(--color-primary) 0px 5px 30px;
}

.project-item .project-img:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
}

.project-date {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--scarlet);
  padding: 1rem;
  font-size: var(--fs-6);
  font-weight: 600;
  color: var(--bg-secondary);
  font-family: var(--f-barlow);
  border-top-left-radius: 1rem;
}

.project-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-name {
  color: var(--color-primary);
  font-size: var(--fs-3);
  font-family: var(--f-dm);
  font-weight: 700;
}

.project-details {
  font-size: var(--fs-6);
  font-family: var(--f-barlow);
  color: var(--color-secondary);
}

.visit-btn {
  font-size: var(--fs-5);
  color: var(--color-primary);
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
}

.visit-btn i {
  font-size: var(--fs-5);
  rotate: 180deg;
  transition: transform var(--transition-1);
}

.visit-btn:hover i {
  transform: translateX(-5px);
}

.load-btn {
  margin-top: 5rem;
  margin-inline: auto;
}

/*===========
                                                                    ===Contact===
                                                                    ===========*/

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-bottom: 8rem;
}

.contact-left {
  position: relative;
}

.contact-item {
  margin-top: 2rem;
}

.contact-name {
  color: var(--color-primary);
  font-size: var(--f-dm);
  font-size: var(--fs-5);
  margin-bottom: 0.5rem;
}

.contact-name i {
  font-size: calc(var(--fs-4) + 4px);
  transform: translateY(0.18em);
}

.contact-detail {
  color: var(--color-secondary);
  font-size: 1.8rem;
  font-family: var(--f-barlow);
  line-height: 1.3;
}

.link-list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.link-list li {
  position: relative;
  border-radius: 50%;
  background-color: var(--color-primary);
  padding: 0.8rem 1rem;
  transition: background-color var(--transition-1);
  cursor: pointer;
}

.link-list li:hover {
  background-color: var(--scarlet);
}

.contact-link {
  font-size: var(--fs-5);
  color: var(--bg-primary);
}

.link-name {
  position: absolute;
  display: block;
  left: 50%;
  top: -5rem;
  transform: translateX(-50%);
  font-size: var(--fs-5);
  font-weight: 500;
  font-family: var(--f-dm);
  color: var(--white);
  background-color: var(--scarlet);
  border-radius: 4px;
  padding: 0.4rem 0.8rem;
  white-space: nowrap;
  opacity: 0;
  transition: top var(--transition-1), opacity var(--transition-1);
}

.link-list li:hover .link-name {
  top: -4rem;
  opacity: 100%;
}

.contact-right {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  background-color: var(--bg-secondary);
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.form-item {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.label {
  font-size: var(--fs-6);
  color: var(--color-primary);
  font-weight: 700;
  font-family: var(--f-dm);
  margin-left: 0.3em;
}

.write-area {
  font-size: var(--fs-6);
  font-family: var(--f-barlow);
  color: var(--color-secondary);
  background-color: var(--bg-primary);
  border-radius: 1rem;
  padding: 0.8em 1.5em 0.8em 3em;
  border: none;
  width: 100%;
}

.write-area:focus {
  color: var(--scarlet);
  outline: none;
  border: 1px solid var(--scarlet);
}

.form-logo {
  position: absolute;
  left: 0.4em;
  color: var(--color-secondary);
  bottom: 2px;
  font-size: var(--fs-3);
  font-size: 2.5rem;
  transition: color 0.1s ease;
}

.write-area:focus + .form-logo {
  color: var(--scarlet);
}

textarea {
  resize: vertical;
  margin-bottom: 0rem;
}

textarea + .form-logo {
  top: 2.8rem;
  bottom: auto;
}

.submit-btn {
  font-size: var(--fs-5);
  font-weight: 700;
  font-family: var(--f-dm);
  color: var(--bg-secondary);
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}

/*Footer*/
footer {
  position: relative;
  background-color: var(--bg-secondary);
  width: 100%;
  height: calc(var(--fs-1) * 2);
  box-shadow: rgba(17, 17, 18, 0.2) -10px 0px 29px 0px;
}

footer p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  font-size: var(--fs-6);
  color: var(--color-primary);
  font-family: var(--f-barlow);
  letter-spacing: 1.2;
}

/*Scroll top*/
.scroll-top {
  position: fixed;
  right: 5vw;
  bottom: 3rem;
  font-size: 2.5rem;
  padding: 0.4rem 0.8rem;
  color: var(--color-primary);
  border: 3px solid var(--color-primary);
  border-radius: 50%;
  cursor: pointer;
  display: none;
  z-index: 999;
  animation: show 0.3s ease;
  transition: transform 0.2s;
}

@keyframes show {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 100%;
  }
}

.scroll-top:active {
  transform: translateY(0.5rem);
}

/*==================
                                                                ===Media Quarries===
                                                                ==================*/

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 450px) {
  /*Global*/
  .sec-container {
    max-width: 80%;
  }
  #web-starter > #num-1 {
    bottom: 5%;
  }
  #web-starter > #num-2 {
    bottom: 30%;
  }
  #web-starter > #num-3 {
    bottom: 55%;
  }
  #web-starter > #num-4 {
    bottom: 80%;
  }
  /*Home*/
  .home-img {
    max-width: 50%;
  }
  .type-writer-text {
    font-size: var(--fs-1);
  }
  .home-social {
    left: -2rem;
    bottom: 7vh;
    transform: translateX(0);
    flex-direction: column;
    gap: 0.8rem;
  }
  .home-social .line:nth-child(1) {
    display: none;
  }
  .home-social .line {
    width: 1.5px;
    height: 4rem;
  }
  .home-social a {
    font-size: 2rem;
  }
  .home-social a:nth-child(2):hover::after {
    right: -320%;
    opacity: 100%;
  }
  .home-social a:nth-child(3):hover::after {
    right: -350%;
    opacity: 100%;
  }
  .home-social a:nth-child(4):hover::after {
    right: -320%;
    opacity: 100%;
  }

  /*Work*/
  .project-intro-left {
    max-width: calc(75% - 10vw);
  }

  /*Contact*/
  .form-logo {
    bottom: 1px;
  }
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 750px) {
  .sec-container {
    max-width: 85%;
  }
  /*Navbar*/
  .switch {
    font-size: 1.05rem;
  }
  .hamburger {
    display: none;
  }
  .nav-list {
    position: static;
    top: 0;
    left: 0;
    transform: translateX(0);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 3.5rem;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    scale: 1;
    transition: scale var(--transition-1);
    margin-left: 2rem;
  }
  .nav-anchor::before {
    left: -2.5rem;
    width: 2rem;
  }
  .nav-anchor:hover::before,
  .nav-anchor:active::before {
    width: calc(2rem + 100%);
  }

  /*Home*/
  #home {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
  .home-left {
    text-align: start;
  }
  .home-right {
    width: 50%;
  }
  .home-img {
    max-width: 90%;
  }
  .home-social {
    left: -4rem;
  }
  .home-social a {
    font-size: 2.2rem;
  }
  .scroll {
    display: flex;
    right: -7rem;
  }

  /*About*/
  .about-left {
    width: 80%;
    margin: 0 auto;
  }

  /*Work*/
  .project-item {
    gap: 5rem;
    margin-top: 10rem;
  }
  .project-img {
    width: 50%;
  }
  .project-info {
    width: 50%;
  }
  /*For Odds*/
  .project-item:nth-child(2n + 1) {
    flex-direction: row-reverse;
  }
  .project-item:nth-child(2n + 1) .project-img {
    transform: perspective(800px) rotateY(-25deg) scale(0.8) rotateX(10deg);
  }
  .project-item:nth-child(2n + 1) .project-img:hover {
    transform: perspective(800px) rotateY(15deg) translateY(50px) rotateX(10deg)
      scale(1);
  }
  .project-item:nth-child(2n + 1) .project-img .project-date {
    right: 0;
    left: auto;
    border-top-right-radius: 0;
    border-top-left-radius: 1rem;
  }
  /*For Evens*/
  .project-item:nth-child(2n) {
    flex-direction: row;
  }
  .project-item:nth-child(2n) .project-img {
    transform: perspective(800px) rotateY(25deg) scale(0.8) rotateX(10deg);
  }
  .project-item:nth-child(2n) .project-img:hover {
    transform: perspective(800px) rotateY(-15deg) translateY(-50px)
      rotateX(10deg) scale(1);
  }
  .project-item:nth-child(2n) .project-img .project-date {
    right: auto;
    left: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 1rem;
  }
  .load-btn {
    margin-top: 10rem;
  }

  /*Contact*/
  #contact {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .contact-left {
    width: 50%;
  }
  .contact-right {
    width: 50%;
  }
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 850px) {
  /*Section Headings*/
  .sec-title {
    top: 8rem;
    left: -10rem;
    rotate: -90deg;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .sec-title::before {
    content: "";
    position: static;
    top: 0;
    bottom: 0;
    display: block;
    width: 0;
    height: 0;
  }
  .sec-line {
    display: block;
  }

  /*Global Buttons*/
  .g-btn:hover::before {
    transform: scaleX(1);
  }
  .g-btn:hover .g-btn-content {
    color: white;
  }

  /* About */
  #about {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
  }
  .about-right {
    width: 100%;
  }
  .about-left {
    width: 100%;
  }
  .about-img {
    width: 100%;
    height: 100%;
    padding: 0;
  }
  .blob {
    scale: 2;
  }

  /*Skills*/
  #skills {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 7rem;
  }
  .skills-buttons {
    margin-inline: 0;
  }

  /*Work*/
  .project-intro {
    flex-direction: row;
    gap: 10rem;
    align-items: center;
    justify-content: space-between;
  }
  .project-intro-left {
    padding: 0;
  }

  /*Contact*/
  .form-logo {
    bottom: 2px;
  }
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 980px) {
  /*Font sizes*/
  :root {
    --fs-1: 4rem;
    --fs-2: calc(3.213rem + 1vw);
    --fs-3: calc(2.713rem + 1vw);
    --fs-4: 2.2rem;
    --fs-5: 1.7rem;
    --fs-6: 1.6rem;
    --fs-7: 1.4rem;
  }

  /*Custom Cursor*/
  #cursor {
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--color-primary);
    border-radius: 50%;
    z-index: 9999;
    opacity: 0;
    transition: all 0.1s linear;
    display: none;
  }

  body:hover #cursor {
    opacity: 100%;
  }

  .sec-container {
    max-width: 85%;
  }

  /*Heading*/
  .sec-title {
    left: -10rem;
  }

  /*Navbar*/
  .switch {
    font-size: 1.15rem;
  }
  .nav-list {
    gap: 4.5rem;
  }

  /*Home*/
  .home-img {
    max-width: 80%;
  }
  .home-social {
    left: -5rem;
  }
  .scroll {
    right: -10rem;
  }

  /*Contact*/
  #contact {
    gap: 7rem;
  }
  textarea + .form-logo {
    top: 3.3rem;
  }
}

/*---------------------------------------------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 1200px) {
  /*Global*/
  :root {
    --fs-1: 4.8rem;
    --fs-2: calc(4.213rem + 1vw);
  }

  .sec-container {
    max-width: min(80%, 1100px);
    padding-block: 10rem;
  }

  /*Heading*/
  .sec-title {
    left: -11rem;
  }

  /*Navbar*/
  .switch {
    font-size: 1.2rem;
  }

  /*Home*/
  .home-social {
    left: -9rem;
  }
  .scroll {
    right: -12rem;
  }

  /*About*/
  #about {
    gap: 15rem;
  }

  /*Contact*/
  .form-logo {
    bottom: 3px;
  }
}